__pycache__/
*.py[cod]
.python-version
db.sqlite3
koala/
static_files

# test artefacts
.coverage
.coverage.*
coverage.xml
.mypy_cache
.cache
test-results/
.pytest_cache
.home

# editors
*.sw*
.idea
*.sublime-*

# osx
.DS_Store

# logs
*.log
